body {
    height: 100vh;
    background-color: lawngreen;
}
header {
    display: flex;
  margin: 0%;  
  background-color: lawngreen;
  height: 80vh;
}
footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 20vh;
}

